In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./consommation-annuelle-entreprise-par-adresse.csv", sep=';')

In [3]:
df.head()

,Année,Code IRIS,Nom IRIS,Numéro de voie,Indice de répétition,Type de voie,Libellé de voie,Secteur d'activité,Catégorie de consommation,NAF2,Adresse,Code Commune,Nom Commune,Nombre de sites,Consommation annuelle totale de l'adresse (MWh),Code EPCI,Code Département,Code Région,Tri des adresses
0,2018,315555001,Zones d'Activites Sud,41,NaN,BOULEVARD,DE THIBAULT,TERTIAIRE,ENT,NaN,41 BOULEVARD DE THIBAULT,31555,Toulouse,1,39.460,243100518.0,31.0,76.0,797105
1,2022,732570000,Les Belleville (commune non irisée),NaN,NaN,NaN,R U E D U S L A L O M,TERTIAIRE,ENT,82.0,R U E D U S L A L O M,73257,Les Belleville,1,8.792,200023299.0,73.0,84.0,210970
2,2022,786500104,Lac Inférieur,2,NaN,RUE,DE VERDUN,INDUSTRIE,ENT,41.0,2 RUE DE VERDUN,78650,Le Vésinet,1,32.245,200058519.0,78.0,11.0,209056
3,2022,322080000,Lectoure (commune non irisée),NaN,NaN,NaN,P L A C E B O U E L A P E Y R E R E,TERTIAIRE,ENT,70.0,P L A C E B O U E L A P E Y R E R E,32208,Lectoure,1,991.445,243200391.0,32.0,76.0,209161
4,2022,593390101,Centre,NaN,NaN,RUE,LEON GAMBETTA,TERTIAIRE,ENT,88.0,RUE LEON GAMBETTA,59339,Leers,1,152.932,200093201.0,59.0,32.0,209242

In [4]:
df.dtypes

Année                                                int64
Code IRIS                                           object
Nom IRIS                                            object
Numéro de voie                                      object
Indice de répétition                                object
Type de voie                                        object
Libellé de voie                                     object
Secteur d'activité                                  object
Catégorie de consommation                           object
NAF2                                               float64
Adresse                                             object
Code Commune                                         int64
Nom Commune                                         object
Nombre de sites                                      int64
Consommation annuelle totale de l'adresse (MWh)    float64
Code EPCI                                          float64
Code Département                                   float64
Code Région                                        float64
Tri des adresses                                     int64
dtype: object

In [18]:
df["Année"].describe().astype(int)

count    2289296
mean        2021
std            1
min         2018
25%         2020
50%         2022
75%         2023
max         2024
Name: Année, dtype: int64

In [7]:
df["Secteur d\'activité"].value_counts()

Secteur d'activité
TERTIAIRE      1753884
INDUSTRIE       429996
AGRICULTURE     102300
INCONNU           3116
Name: count, dtype: int64

In [8]:
df["Catégorie de consommation"].describe()

count     2289296
unique          1
top           ENT
freq      2289296
Name: Catégorie de consommation, dtype: object

In [17]:
df["Nombre de sites"].describe().astype(int)

count    2289296
mean           1
std            0
min            1
25%            1
50%            1
75%            1
max           60
Name: Nombre de sites, dtype: int64